<ion-view view-title="Agency Location">
    <ion-content>
        <div class="card">
            <label class="item item-input">
                <input placeholder="Post code">
            </label>
            <button class="button button-block button-positive" ui-sref="app.agency_location">
                Update Map Location
            </button>
            <button class="button button-block button-positive" ui-sref="app.take_photo">
                Navigate To Address
            </button>
            <div class="item item-body">
                <label>lat : {{lat}}</label>
                <label>long : {{long}}</label>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
