<ion-view view-title="Truck List" ng-init="init();">
    <ion-content>
         <div ng-repeat="truck in TruckList" class="list card stable-bg">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>{{truck.UserId}}</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>
        </div>
    </ion-content>
   <!--  <ion-content ng-class="{expanded:isExpanded}">
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>{{truck.UserId}}?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Hmm. Hope nobody destroys this!</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Making Olaf a House</h2>
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>ohai!</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
        </div> -->
    </ion-content>
</ion-view>
