<ion-view view-title="Truck List" ng-init="init()">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{ProfileImage}}{{ManagerDetails.profile_image}}');"></div>
                <h3><a class="light">{{ManagerDetails.Name}}</a></h3>
                <h4>{{ManagerDetails.UserId}}</h4>
                <h5>{{ManagerDetails.Company_name}}</h5>
            </div>
        </div>
        <!-- <h4 class="content padding text-center">Trucks</h4> -->
        <div class="item card-item" ng-repeat="truck in TruckList">
            <div class="card stable-bg ink ink-dark">
               <!--  <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <h3>Driver&nbsp;:&nbsp;&nbsp;{{truck.Name}}</h3>
               
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles appback"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <!- <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div> --> 
                <div class="item item-avatar">
    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
    <h2>Driver&nbsp;:&nbsp;&nbsp;{{truck.Name}}</h2>
               
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="img/truck.jpg">
     
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>
            </div>
        </div>
    </ion-content>
</ion-view>