<ion-modal-view>
    <ion-header-bar class="appback-bg">
        <button class="button back-button buttons button-clear header-item" ng-click="closeLogin()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <h1 class="title">REPORT</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                LINE CHART
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
