<ion-view ng-init="init()">
    <ion-content>
         <div class="item card-item" ng-repeat="truck in TruckList" ng-click="showVehicleDetails(truck.Uid,truck.Name)">
            <div class="card stable-bg ink ink-dark">
                 <div class="item  item-text-wrap ">
                      <!-- <div class="avatar" style="background-image: url('{{ProfileImage}}{{ManagerDetails.profile_image}}');"></div> -->
                      <div class="row">
                        <div class="col">
                         <h2 class="appback">Driver&nbsp;:&nbsp;&nbsp;{{truck.Name}}</h2>
                         <h3 class="positive">Phone&nbsp;:&nbsp;&nbsp;{{truck.mobile}}</h3>
                         <h3>Vehicle  Number&nbsp;:&nbsp;&nbsp;{{truck.vehicle_number}}</h3>
                         <h3>Vehicle  Type&nbsp;:&nbsp;&nbsp;{{truck.vehicle_type}}</h3>
                         <h3>Vehicle  Capacity&nbsp;:&nbsp;&nbsp;{{truck.vehicle_capacity}}</h>
                         </div>
                       </div>
                  </div>
            </div>
        </div>
       <!--  <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/jon-snow.jpg">
                <h2><strong class="appback">Jon Snow</strong></h2>
                <p class="appback">MH 25 AF 6177</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="img/truck.jpg">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued"><strong class="appback">1 Like</strong></a>
                    <a href="#" class="subdued"><strong class="appback">5 Comments</strong></a>
                </p>
            </div>
        </div> -->
    </ion-content>
</ion-view>
