<ion-view ng-init="init(); getJob();">
    <ion-content>
        <div class="item card-item" ng-repeat="job in jobList" ng-click="showJobDetails(job.job_Title,job.job_Description,job.job_DeliveryAddress)">
            <div class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap ">
                    <div class="row">
                        <div class="col">
                            <h2 class="appback">Job Title&nbsp;:&nbsp;&nbsp;{{job.job_Title}}</h2>
                            <h3 class="positive">Job Description&nbsp;:&nbsp;&nbsp;{{job.job_Description}}</h3>
                            <h3>Delivery Address&nbsp;:&nbsp;&nbsp;{{job.job_DeliveryAddress}}</h3>
                         </div>
                       </div>
                  </div>
            </div>
        </div>
   </ion-content>
   <button id="fab-profile" class="button button-fab button-fab-bottom-right button-appback" ui-sref="app.createdjob_form"><i class="icon ion-plus"></i></button>
</ion-view>
