<ion-view ng-init="init()">
    <ion-content>
        <div class="item card-item" ng-repeat="truck in TruckList" ng-click="showVehicleDetails(truck.Uid,truck.Name)">
            <div class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap ">
                    <div class="row">
                        <div class="col">
                            <h2 class="appback">Driver&nbsp;:&nbsp;&nbsp;{{truck.Name}}</h2>
                            <h3 class="positive">Phone&nbsp;:&nbsp;&nbsp;{{truck.mobile}}</h3>
                            <h3>Vehicle  Number&nbsp;:&nbsp;&nbsp;{{truck.vehicle_number}}</h3>
                            <h3>Vehicle  Type&nbsp;:&nbsp;&nbsp;{{truck.vehicle_type}}</h3>
                            <h3>Vehicle  Capacity&nbsp;:&nbsp;&nbsp;{{truck.vehicle_capacity}}</h>
                         </div>
                       </div>
                  </div>
            </div>
        </div>
   </ion-content>
    <button class="button button-float" >
        <i class="icon ion-plus"></i>
      </button>
</ion-view>
