<ion-view view-title="Login" ng-init="init()" hide-nav-bar="true">
    <ion-content class="loginContent">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>SCM</h1>
            </div>
        </div>
        <form name="loginfrm" novalidate data-ng-submit="loginfrm.$valid && login(user,loginfrm.$valid)">
            <div class="list">
                <ion-md-input placeholder="Username" highlight-color="balanced" ng-model="user.email" type="email" name="username" ng-pattern='/^(([^ </>()[\]\.,;:\s@\"]+(\.[^ <> ()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^ <> ()[\]\.,;:\s@\"]{2,})$/i' required></ion-md-input>
                <span >
                    <div data-ng-messages="loginfrm.$submitted && loginfrm.username.$error" role="alert" class="assertive errmsg">
                        <div data-ng-message="required">
                            Enter User name
                        </div>
                        <div data-ng-message="email || pattern">
                            Enter Valid User name
                        </div>
                    </div>
                </span>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password" name="password" required></ion-md-input>
                <span>
                    <div data-ng-messages="loginfrm.$submitted && loginfrm.password.$error" role="alert" class="assertive errmsg">
                        <div data-ng-message="required">
                            Enter password
                        </div>
                    </div>
                </span>
            </div>
            <div class="padding">
                <button class="button button-full button-assertive ink">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>
