<ion-view title="Login" ng-init="init()">
    <ion-content class="has-header padding">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="user.email" type="email" placeholder="" />
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="user.password" type="password" placeholder="" />
            </label>
        </ion-list>
        <button class="button button-stable button-block button-calm" ng-click="login(user)">Log in</button>
        <div class="text-center">
            <a href="#" class="text-center">Or create an account</a>
        </div>
    </ion-content>
</ion-view>