<ion-view view-title="Job Details" ng-init="init()">
    <ion-content>
      
      <div class="">
        <div class="row">
           <div class="col">
             <h5> Job Title  &nbsp;:&nbsp;&nbsp;{{jobdetais.job_Title}}</h5>
             <h5 class="positive">Description&nbsp;:&nbsp;&nbsp;{{jobdetais.job_Description}}</h5>
             <h5> Delivery Address&nbsp;:&nbsp;&nbsp;{{jobdetais.job_DeliveryAddress}}</h5>
           </div>
         </div>
        </div>
        <div class="padding">
          <button class="button button-full button-appback ink">Assign Task</button>
        </div>
    </ion-content>
</ion-view>