<ion-view view-title="Job Details">
    <ion-content>
        <div class="list card">

          <div class="item item-body">
           <h3> Driver Name &nbsp;:&nbsp;&nbsp;{{vehicleDetails.Name}}</h3>
           <h3 class="positive">Phone&nbsp;:&nbsp;&nbsp;{{vehicleDetails.mobile}}</h3>
           <h3>Vehicle  Number&nbsp;:&nbsp;&nbsp;{{vehicleDetails.vehicle_number}}</h3>
           <h3>Vehicle  Type&nbsp;:&nbsp;&nbsp;{{vehicleDetails.vehicle_type}}</h3>
           <h3>Vehicle  Capacity&nbsp;:&nbsp;&nbsp;{{vehicleDetails.vehicle_capacity}}</h>
          </div>

        </div>
            
    </ion-content>
             <div class="bar bar-footer bar-balanced">
              <div class="title">Assign Task</div>
            </div> 

</ion-view>