<ion-side-menus ng-init="init()">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="appback-bg">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="appback-bg expanded" data-ng-if="islogin">
            <ion-item class="profile-item" ui-sref="app.profile" menu-close>
                <div class="profile-picture big-profile-picture">
                    <img  ng-src="{{ProfileImage}}{{islogin.profile_image}}">
                </div>
                <div class="profile-info">
                    <dt>{{islogin.Name}}&nbsp;{{islogin.last_name}}</dt>
                </div>
                <div class="profile-info">
                    <dt>{{islogin.email}}</dt>
                </div>
            </ion-item>
        </ion-header-bar>
        <ion-content class="appback-bg has-expanded-header">
            <ion-list>
                <ion-item menu-close href="#/login" ng-if="!islogin">
                    <dt> Login </dt>
                </ion-item>
                <ion-item menu-close href="#/app/browse_trucklist">
                    <dt>Browse TruckList </dt>
                </ion-item>
                <ion-item menu-close href="#/app/browse_joblist">
                    <DT>Browse Agency</DT>
                </ion-item>
                <ion-item menu-close href="#/app/take_photo">
                    <dt>Take Photo</dt>
                </ion-item>
                <ion-item menu-close ng-click="logout()" ng-if="islogin">
                    <dt>Logout</dt>
                </ion-item>
            </ion-list>
        </ion-content>
<!--         <ion-footer-bar align-title="center" class="bar-assertive">
            <h1 class="title">Title!</h1>
        </ion-footer-bar> -->
    </ion-side-menu>
</ion-side-menus>
