<ion-view view-title="Manager's login ">
    <ion-content>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col col-50">
                    <h5 style="text-align: left; color: #10bccd;">Material: </h5>
                    <span>1000 units of wheel chairs for office study.</span>
                    <button class="button button-small button-text-wrap ">
                        DONE
                    </button>
                </div>
                <div class="col col-50">
                    <div class="col">
                        <h5 style="text-align:left; color: #10bccd;">From:</h5>
                        <span>121 jump street california.</span>
                    </div>
                    <div class="col ">
                        <h5 style="text-align: left; color: #10bccd;">To: </h5>
                        <span> 40/120, Wall street, NY.</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>