<ion-view view-title="Job List ">
    <ion-content>
        <div class="card" id="cardList">
            <div class="row">
                <div class="col" align="justify">
                    <h5><strong class="appback">Material :</strong></h5>
                    <p>
                        1000 units of wheel chairs for office study study study.....
                    </p>
                    <h5><strong class="appback">From :</strong></h5>
                    <p>
                        121 jump street california.
                    </p>
                    <div class="padding">
                        <button class="button button-full appback-bg" ng-click="tracktruck()">TRACK</button>
                    </div>
                </div>
                <!-- <div class="col" align="justify">
                    <h5><strong class="appback">Info :</strong></h5>
                    <p>
                        test test tsetsadf sdf fdasdf test test tsetsadf sdf fdasdf
                    </p>
                    <h5>
                    <strong class="appback">To :</strong></h5>
                    <p> 40/120, Wall street, NY.</p>
                    <div class="padding">
                        <button class="button button-full appback-bg">DONE</button>
                    </div>
                </div> -->
            </div>
        </div>
    </ion-content>
</ion-view>
