
.pane {
    /*background: url(../img/background.jpg) no-repeat center center fixed; */
    background-color: #00bfd1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bar .button.button-orange {
    color: #F44336;
    box-shadow: none;
}


.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}


/* Menu
==================================*/

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-size: 0 !important;
}


/* Login
==================================*/


.loginContent {
    background: url(../img/login.jpg) center;
    background-size: cover;
}

.errmsg {
    display: block;
    background: 0 0;
    box-shadow: none;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 17px;
}

.profile-item {
    background-size: cover;
    text-align: center;
    border-color: #00bfd1 !important;
}

.profile-picture {
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 80%;
    height: 82%;
    overflow: hidden;
}

.profile-picture img {
    width: 50%;
    border-radius: 100%;
}

.profile-name {
    padding-top: 20px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
}

/* Tab bar*/
.tabs-striped .tab-item.tab-item-active, .tabs-striped > .tabs {
    margin-top: -49px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background-color: #10bccd !important; 
}

.bar {
    box-shadow:none !important; 
}

.trucklist .has-tabs-top {
    top: 30px !important;
}